html,body { height : 100%; }
body { background : #ffffff; position : relative; }

ul { list-style : none; }
a:active { outline : 0; }
* :focus { outline : 0; }

.block { position : absolute; height : auto; left : 0; top : 0; right : 0; bottom : 0; }

#wrapper-outer { position : relative; width : 100%; height : 100%; min-width : 1000px; min-height : 600px; }
#wrapper { margin : 18px; background : #ffffff url(http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/images/noscript.png) no-repeat center center; overflow : hidden; }
.js #wrapper { background-image : none; }



header { margin-top : 18px; height : 83px; position : relative; z-index : 2000; text-align : center; }
header .logo { position : absolute; left : 0; }
header nav { display : inline-block; }
header nav ul { float : left; margin : 28px 31px; }
header nav ul li { float : left; margin : 0 2px;  }
header nav ul li a { display : block; width : 26px; height : 26px; border-radius : 26px; position : relative; }
header nav ul li a:hover { background : rgba(255, 255, 255, .7); }
header nav ul li a span { display : block; width : 0; height : 0; border : 2px solid #ffffff; border-radius : 3px; position : absolute; left : 50%; top : 50%; margin-left : -2px; margin-top : -2px; }
header nav ul li.active a span { width : 6px; height : 6px; border-radius : 6px; border-width : 1px; margin-left : -4px; margin-top : -4px; }
#videoset ul { display : none; }

#novideo { z-index : 1000; overflow : hidden; display : none; }
.no-video #novideo { display : block; }
#embed { position : absolute; background : #000000; width : 957px; height : 534px; left : 50%; top : 50%; margin-left : -478px; margin-top : -267px; }
#bg { min-height: 100%; min-width: 1024px; width: 100%; height: auto; position: absolute; top: 0; left: 0; }

#videobg { z-index : 1000; overflow : hidden; display : none; }
.js #videobg { display : block; }
#videobg video { position : absolute; min-width : 100%; min-height : 100%; top: 50%; left: 50%; z-index : 1100;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#text { background : url(http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/images/bg-dots.png) repeat 0 0; opacity : 0; z-index : 1500; }
#text > img { position : absolute; left : 135px; top : 35%; width : auto; height : 30%; }
#controls { z-index : 1600; }
#controls a { position : absolute; display : none; }
#controls a[href='#play'] { left : 50%; top : 50%; margin-left : -69px; margin-top : -57px; }
#controls a[href='#pause'] { left : 50%; bottom : 100px; margin-left : -58px; }
#controls a[href='#prev'] { left : 18px; top : 50%; margin-top : -31px; }
#controls a[href='#next'] { right : 18px; top : 50%; margin-top : -31px; }
#controls a[href='#mute'] { position : absolute; left : 29px; bottom : 23px; }
#controls a[href='#mute'] span { position : absolute; right : -2px; bottom : -2px; display : none; }
#controls a.active[href='#mute'] span { display : block; }
#controls a[href='#repeat'] { position : absolute; left : 135px; bottom : 78px; }
#controls .direct { position : absolute; right : 96px; bottom : 97px; }
#controls .additional { position : absolute; }
#preloader { z-index : 1700; position : absolute; left : 50%; top : 50%; margin-left : -60px; margin-top  : -65px;
    -webkit-animation : cwrotate 5s infinite linear;
    -moz-animation : cwrotate 5s infinite linear;
    animation : cwrotate 5s infinite linear;
}


footer { position : absolute; bottom : 0; left : 0; right : 0; z-index : 2000; margin : 0 200px; display : none; }
.js footer { display : block; }
#social { text-align : center; }
#social .wrap { display : inline-block; background : #ffffff; padding : 0px 7px; border-radius : 5px; }
#social .b-share-icon_yaru, .b-share-icon_yaru_photo, .b-share-icon_yaru_wishlist { width : 21px; height : 16px; background : url(http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/images/sprite.png) no-repeat -103px -83px; }
#copyright { font : 12px/12px Arial, Helvetica, sans-serif; color : #c8c8c8; margin : 12px 0; text-align : center; }
#copyright a { color : #ffffff; }



.sprite { display : block; background-image : url(http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/images/sprite.png); background-repeat : no-repeat; }
.sprite.logo { width : 205px; height : 83px; background-position : 0 0; }

.sprite.play { width : 138px; height : 135px; background-position : -205px 0; }
.sprite.play:hover { background-position : -205px -135px; }
.sprite.play:active { background-position : -205px -270px; }
.sprite.pause { width : 117px; height : 116px; background-position : -343px 0; }
.sprite.pause:hover { background-position : -343px -116px; }
.sprite.pause:active { background-position : -343px -232px; }
.sprite.prev { width : 36px; height : 62px; background-position : -460px -0; }
.sprite.prev:hover { background-position : -460px -62px; }
.sprite.prev:active { background-position : -460px -124px; }
.sprite.next { width : 36px; height : 62px; background-position : -496px -0; }
.sprite.next:hover { background-position : -496px -62px; }
.sprite.next:active { background-position : -496px -124px; }
.sprite.mute { width : 39px; height : 39px; background-position : -532px -0; }
.sprite.mute:hover { background-position : -532px -39px; }
.sprite.mute:active { background-position : -532px -78px; }
.sprite.mute.active { background-position : -571px -0; }
.sprite.mute.active:hover { background-position : -571px -39px; }
.sprite.mute.active:active { background-position : -571px -78px; }
.sprite.repeat { width : 291px; height : 66px; background-position : -83px -444px; }
.sprite.repeat:hover { background-position : -83px -579px; }
.sprite.repeat:active { background-position : -83px -714px; }


.sprite.fb { width : 16px; height : 16px; background-position : 0 -83px; }
.sprite.mm { width : 17px; height : 16px; background-position : -16px -83px; }
.sprite.vk { width : 17px; height : 16px; background-position : -33px -83px; }
.sprite.tw { width : 18px; height : 16px; background-position : -50px -83px; }
.sprite.ok { width : 18px; height : 16px; background-position : -68px -83px; }
.sprite.gp { width : 17px; height : 16px; background-position : -86px -83px; }
.sprite.ya { width : 21px; height : 16px; background-position : -103px -83px; }
.sprite.direct { width : 266px; height : 22px; background-position : 0 -810px; }
.sprite.direct:hover { background-position : 0 -832px; }

@-webkit-keyframes cwrotate {
    0% { -webkit-transform : rotate(0deg); }
    100% { -webkit-transform : rotate(360deg); }
}
@-moz-keyframes cwrotate {
    0% { -moz-transform : rotate(0deg); }
    100% { -moz-transform : rotate(360deg); }
}
@keyframes cwrotate {
    0% { transform : rotate(0deg); }
    100% { transform : rotate(360deg); }
}
