<!DOCTYPE html>
<html>
  <head>
    <title>Новогодние истории Яндекс.Директа</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="Новогодние истории Яндекс.Директа" />
    <meta name="description" content="Работаем без праздников и выходных!" />

    <link rel="shortcut icon" href='http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/images/favicon.ico' />

    <meta property="og:title" content="Новогодние истории Яндекс.Директа" />
    <meta property="og:description" content="Работаем без праздников и выходных!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://direct.yandex.ru/ny2014" />
    <meta property="og:image" content="http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/images/social.jpg" />
    <meta property="og:site_name" content="Новогодние истории Яндекс.Директа" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="fb:admins" content="100000820127781" />

    <link rel="stylesheet" href="http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/css/reset.css" />
    <link rel="stylesheet" href="http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/css/clearfix.css" />
    <link rel="stylesheet" href="http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/css/style.css" />

    <script type="text/javascript" src="http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/js/modernizr.js"></script>
    <script type="text/javascript" src="http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/js/videobg.jquery.js"></script>
    <script type="text/javascript" src="http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/js/videosets.js"></script>
    <script type="text/javascript" src="http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/js/script.js"></script>

    <script type="text/javascript">
    (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
    try {
    w.yaCounter23269036 = new Ya.Metrika({
    id:23269036,
    webvisor:true,
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true
    });
    w.yaCounter34 = new Ya.Metrika({
    id: 34
    });
    } catch(e) { }
    });
    
    var n = d.getElementsByTagName("script")[0],
    s = d.createElement("script"),
    f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    
    if (w.opera == "[object Opera]") {
    d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
    <noscript><div><img src="//mc.yandex.ru/watch/23269036" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <noscript><div><img src="//mc.yandex.ru/watch/34" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  </head>
  <body>
    <div id="wrapper-outer">
      <div id="wrapper" class="block">
        <header>
          <div class="wrap clearfix">
            <a href="http://direct.yandex.ru/?_openstat=eWFuZGV4O3Byb21vLWRpcmVjdE5ZMTQ7ZnJvbXRvcDs" class="sprite logo outbound" data-goal="TO_DIRECT_FROMTOP"></a>
            <nav id="videoset" class="interface">
              <ul data-videoset="1">
              <li data-video="1"><a href="#"><span></span></a></li>
              <li data-video="2"><a href="#"><span></span></a></li>
              <li data-video="3"><a href="#"><span></span></a></li>
              <li data-video="4"><a href="#"><span></span></a></li>
              <li data-video="5"><a href="#"><span></span></a></li>
              <li data-video="6"><a href="#"><span></span></a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div id="novideo" class="block">
        <img src="http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/images/bg.jpg" id="bg" />
        <div id="embed"><iframe width="100%" height="100%" frameborder="0" src="http://video.yandex.ru/iframe/yacinema/c3rp4s7jle.5005/?player-type=full&hd=1"></iframe></div>
      </div>
      <div id="videobg" class="block">
        <div id="text" class="block">
          <img src="http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/images/text-1.png" width="713" height="163" class="text-1" />
          <img src="http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/images/text-2.png" width="713" height="163" class="text-2" />
          <img src="http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/images/text-3.png" width="713" height="163" class="text-3" />
        </div>
        <div id="controls" class="block">
          <div class="default">
            <div class="interface">
              <a href="#play" class="sprite play"></a>
              <a href="#pause" class="sprite pause"></a>
              <a href="#prev" class="sprite prev"></a>
              <a href="#next" class="sprite next"></a>
            </div>
          </div>
          <a href="#mute" class="sprite mute interface"></a>
            <a href="http://direct.yandex.ru/?_openstat=eWFuZGV4O3Byb21vLWRpcmVjdE5ZMTQ7YWZ0ZXJhbGw7" class="sprite direct outbound additional" data-goal="TO_DIRECT_AFTERALL"></a>
            <a href="#repeat" class="sprite repeat additional"></a>
        </div>
        <img src="http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/images/preloader.png" width="121" height="129" id="preloader" />
      </div>
      <footer class="interface">
        <div id="social">
          <div class="wrap clearfix">
            <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
            <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="facebook,moimir,vkontakte,twitter,odnoklassniki,gplus,yaru" data-yashareTitle="Новогодние истории Яндекс.Директа" data-yashareDescription="Работаем без праздников и выходных!" data-yashareLink="http://direct.yandex.ru/ny2014" data-yashareImage="http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/images/social.jpg"></div>
          </div>
        </div>
        <div id="copyright">&copy; 2012–2013 ООО &laquo;<a href="http://www.yandex.ru/" target="_blank">Яндекс</a>&raquo;</div>
      </footer>
    </div>
  </div>
  <audio loop="loop" id="audio">
    <source src="http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/audio/soundtrack.ogg" type="audio/ogg" />
    <source src="http://yandex.st/direct-ny2014/{{DEBIAN_VERSION}}/audio/soundtrack.mp3" type="audio/mp3" />
  </audio>
  </body>
</html>